.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
  margin-top: 3rem;
  align-items: flex-end;
  background-color: #F4F8FC;
  padding: 5px 20px;
}
.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: end;
  gap: 2;
}
.adminImage {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  margin-left: 1rem;
}
.admin-name h2 {
  font-size: 18px;
}
.admin-name p {
  font-size: 14px;
}
.searchInput {
  padding: 10px;
  border: none;
  width: 300px;
  background-color: #E8EEF4;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-left: 16rem;
  position: absolute;
}
.searchContainer {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 970px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-top: 5rem;
  }
  .search {
    width: 100px;
  }
  .searchContainer {
    width: 100px;
  }
  .adminImage {
    width: 50px;
    height: 40px;
    border-radius: 50%;
  }
  .admin-name h2 {
    font-size: 12px;
  }
  .admin-name p {
    font-size: 10px;

  }
  .searchInput {
    padding: 6px;
    border: none;
  }
  .search {
    margin-left: 5rem;
  }
  .searchContainer {
    padding: 2px;
    display: flex;
  }
  .searchInput {
    padding: 10px;
    border: none;
    width: 100px;
  }
}