.salesOverviews {
  background-color: #F4F8FC;
  padding: 1rem;
  margin-right: 2rem;
}
.headers {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
}
.headers h1 {
  font-size: 16px;
}
.chart {
  background-color: #ffffff;
  width: 100%;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
.revenueLine {
  padding: 0 1rem;
  background-color: #ffffff;

}
.button {
  background-color: #4867D5;
  padding: 10px 3rem;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}